.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  max-width: 300px;
  margin: 0 auto; 
}

input {
  padding: 10px;
  margin: 5px 0; /* Espacio entre los inputs */
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background-color: #2411ce;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1b8deb;
}

.Card {
  margin-Top: "20px"; 
  padding: "20px";
  border: "1px solid #ccc";
  border-Radius: "10px"; 
  max-Width: "400px"; 
  width: "100%";
  background-Color: "#f9f9f9",;
  text-Align: "left";
}